deps/*
home-assistant.log
home-assistant_v2.db
secrets.yaml
.HA_VERSION
.uuid
tts/*
home-assistant_v2.db-shm
home-assistant_v2.db-wal
compiled/*
apps/__pycache__/*
*.swp
tmp/*
dasher/.gitignore
dasher/LICENSE
dasher/README.md
dasher/app.js
dasher/config/config.example.json
dasher/config/org.dasher.plist
dasher/lib/
dasher/package-lock.json
dasher/package.json
dasher/script/

