home-assistant_v2.db*
*.log*
*.lock*
.cache
.cloud
.storage
!.storage/lovelace
secrets.yaml
*.token
www/*
!www/ha_floorplan.svg
tts
secrets.yaml
blueprints
.vscode
custom_components
ssh
shell/hass.token
